$headerHeight: 100px;
$headerElemWidth: 150px;
$mainHeight: calc(100% - 100px);
$c-blue: #a8d8ea;
$c-purple: #aa96da;
$c-turquoise: #61c0bf;
$c-lightPink: #ffe2e2;
$c-pink: #fcbad3;
$c-lightYellow: #ffffd2;